**/db/**
**/incremental_db/**
**/simulation/**
**/greybox_tmp/**
*.rpt
*.done
*.smsg
*.summary
**htm
*.jdi
*.pin
*.sld
*.bak
*.qdf
*.qsf
*.gch
*.o
*.jic
*.sof
*.map
*.qws
*.cdf
*.cof
Quartus/pourAvoirUnPointJIC.cof
Quartus/c5_pin_model_dump.txt
Kraken/build/main
